{
    "openapi": "3.0.0",
    "info": {
        "description": "Esta é a API de Indicadores.",
        "title": "API de Indicadores",
        "contact": {
            "name": "Suporte",
            "email": "analytics@controllab.com"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://victor.controllab.com:8000/api/v1"
        }
    ],
    "paths": {
        "/form": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "List all forms",
                "tags": [
                    "form"
                ],
                "summary": "List Forms",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Formulario"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Create a form",
                "tags": [
                    "form"
                ],
                "summary": "Create Form",
                "parameters": [
                    {
                        "description": "Input",
                        "name": "form",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Formulario"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/createResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "tags": [
                    "form"
                ],
                "summary": "Update Form",
                "parameters": [
                    {
                        "description": "Input",
                        "name": "form",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Formulario"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/createResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/form/{id}": {
            "delete": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Delete Form",
                "tags": [
                    "form"
                ],
                "summary": "Delete Form",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/createResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/schedule": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "List all schedules",
                "tags": [
                    "schedules"
                ],
                "summary": "List Schedules",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Agendamento"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Return the logged-in user's data",
                "tags": [
                    "user"
                ],
                "summary": "User",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "members": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/User"
                                            }
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/create": {
            "put": {
                "description": "Create new user",
                "tags": [
                    "user"
                ],
                "summary": "Create user",
                "parameters": [
                    {
                        "description": "Usuário",
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/createResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/groups": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Establishing the Relationship Between Users and Groups",
                "tags": [
                    "user"
                ],
                "summary": "Add groups",
                "parameters": [
                    {
                        "description": "Input",
                        "name": "login",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AddGrupamentoInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/createResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Linking Users to Groups",
                "tags": [
                    "user"
                ],
                "summary": "Remove Groups",
                "parameters": [
                    {
                        "description": "Input",
                        "name": "login",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/DelGrupamentoInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/createResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/login": {
            "post": {
                "description": "return JWT token",
                "tags": [
                    "user"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/loginRequest"
                            }
                        }
                    }
                },
                "summary": "Login",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/variable": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "List all variables",
                "tags": [
                    "variables"
                ],
                "summary": "List variables",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Variavel"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Create only one variable",
                "tags": [
                    "variables"
                ],
                "summary": "Create variable",
                "parameters": [
                    {
                        "description": "Variable",
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Variavel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/createResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/variable/groups": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "List all groups by user",
                "tags": [
                    "variables"
                ],
                "summary": "List Groups by user",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Grupamento"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "tags": [
                    "variables"
                ],
                "summary": "Create groups",
                "parameters": [
                    {
                        "description": "Groups",
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Grupamento"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/createResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/variable/tipo": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "List all variables types",
                "tags": [
                    "variables"
                ],
                "summary": "List types",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TipoVariavel"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "BearerAuth": {
                "type": "apiKey",
                "name": "Authorization",
                "in": "header"
            }
        },
        "schemas": {
            "AddGrupamentoInput": {
                "type": "object",
                "required": [
                    "groups_id",
                    "user_id"
                ],
                "properties": {
                    "groups_id": {
                        "type": "integer"
                    },
                    "user_id": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    }
                }
            },
            "DelGrupamentoInput": {
                "type": "object",
                "required": [
                    "groups_id",
                    "user_id"
                ],
                "properties": {
                    "groups_id": {
                        "type": "integer"
                    },
                    "user_id": {
                        "type": "integer"
                    }
                }
            },
            "createResponse": {
                "type": "object",
                "required": [
                    "message"
                ],
                "properties": {
                    "message": {
                        "type": "string"
                    }
                }
            },
            "loginRequest": {
                "type": "object",
                "required": [
                    "password",
                    "username"
                ],
                "properties": {
                    "password": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    }
                }
            },
            "Agendamento": {
                "type": "object",
                "properties": {
                    "active": {
                        "type": "boolean"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "method": {
                        "$ref": "#/components/schemas/Metodo"
                    },
                    "next": {
                        "type": "string"
                    },
                    "periodicity": {
                        "$ref": "#/components/schemas/Periodicidade"
                    },
                    "start": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    },
                    "version_form": {
                        "$ref": "#/components/schemas/VersaoFormulario"
                    }
                }
            },
            "Empresa": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "level": {
                        "$ref": "#/components/schemas/Nivel"
                    },
                    "name": {
                        "type": "string"
                    }
                }
            },
            "Formulario": {
                "type": "object",
                "required": [
                    "active",
                    "name"
                ],
                "properties": {
                    "active": {
                        "type": "boolean"
                    },
                    "description": {
                        "type": "string"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    }
                }
            },
            "Grupamento": {
                "type": "object",
                "required": [
                    "name"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    }
                }
            },
            "Metodo": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    }
                }
            },
            "Nivel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "nome": {
                        "type": "string"
                    }
                }
            },
            "Periodicidade": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "interval": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    }
                }
            },
            "TipoVariavel": {
                "type": "object",
                "required": [
                    "nome"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "nome": {
                        "type": "string"
                    }
                }
            },
            "User": {
                "type": "object",
                "required": [
                    "first_name",
                    "last_name",
                    "password",
                    "user"
                ],
                "properties": {
                    "email": {
                        "type": "string"
                    },
                    "enterprise": {
                        "$ref": "#/components/schemas/Empresa"
                    },
                    "first_name": {
                        "type": "string"
                    },
                    "groups": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Grupamento"
                        }
                    },
                    "id": {
                        "type": "integer"
                    },
                    "last_name": {
                        "type": "string"
                    },
                    "manager_id": {
                        "type": "integer"
                    },
                    "password": {
                        "type": "string"
                    },
                    "user": {
                        "type": "string"
                    }
                }
            },
            "Variavel": {
                "type": "object",
                "required": [
                    "data_type_id",
                    "text"
                ],
                "properties": {
                    "data_type_id": {
                        "$ref": "#/components/schemas/TipoVariavel"
                    },
                    "has_item": {
                        "type": "boolean"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "question_id": {
                        "type": "integer"
                    },
                    "required": {
                        "type": "boolean"
                    },
                    "text": {
                        "type": "string"
                    }
                }
            },
            "VersaoFormulario": {
                "type": "object",
                "required": [
                    "version"
                ],
                "properties": {
                    "created_at": {
                        "type": "string"
                    },
                    "form": {
                        "$ref": "#/components/schemas/Formulario"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "version": {
                        "type": "integer"
                    }
                }
            }
        }
    }
}